/* Feel free to change me and make me your own! */

body {
  background-color: #fbefcc; 
  font-family: monaco, Consolas,"Lucida Console",monospace; 
  color: #d96459;
}

article {
  margin-left: 10vw; 
  margin-right: 10vw; 
  margin-bottom: 4vw;
}

h1 {
  text-align: center; 
  font-size: 25px; 
}

h2 {
  font-size: 25px; 
}

p {
  text-align: center; 
  font-size: 20px; 
}



ul {
  font-size: 18px; 
  list-style-type: square; 
}


}

code {
 font-family: 'Courier New', monospace; 
}