/* Feel free to change me and make me your own! */

body {
  background-color: #F4A460; 
  font-family: "Courier New", Courier, monospace; 
}

article {
  margin-left: 10vw; 
  margin-right: 10vw; 
}

h1 {
  text-align: center; 
  font-size: 48px; 
}

h2 {
  font-size: 36px; 
}

p {
  text-align: center; 
  font-size: 20px; 
}

ul {
  font-size: 20px; 
  list-style-type: square; 
}

code {
 font-family: 'Courier New', monospace; 
}